{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
     <ul>
             {% for message in messages %}
             <li> <p class="error">{{ message }}</p> </li>
             {% endfor %}
     </ul>
        {% endif %}
    {% endwith %}


        <form method="post">
            {{ form.hidden_tag() }}
            <p>Find a friend {{ form.username }} </p>
            <input type="submit" value="Add">
        </form>

    </div>
</div>

{% endblock %}
