<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ title }}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_file) }}">

</head>
<body>

    <!-- Provides header for all pages -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
              {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{ url_for('index') }}">College Connect</a>
              {% else %}
              <a class="navbar-brand" href="{{ url_for('login') }}">College Connect</a>

              {% endif %}
          </div>
            {% if current_user.is_authenticated %}
          <ul class="nav navbar-nav">
              <li>Home</li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Connections
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{url_for('add_friend')}}">Add friend</a></li>
                    <li><a>Message</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('options')}}">Options</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
            {% endif %}
        </div>
      </nav>



    {% block content %}
    {% endblock %}

</body>
</html>