{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">

        <form method="POST">
            {{ form.hidden_tag() }}
            <p>Tell us what is happening, {{ current_user.name }} {{ form.message }}</p>

            <input type="submit" value="Post">
        </form>
    </div>

    <p>Posts</p>
    {% for post_segment in post_segments %}

        <div class="jumbotron">
            <img class=".img-thumbnail" alt="{{ post_segment[0] }}'s profile picture" src="{{url_for('static', filename='images/user.png')}}">
            <p2>{{post_segment[0]}}</p2>
            <p>{{post_segment[1]}}</p>
            <p3>{{post_segment[2]}}</p3>
        </div>
    {% endfor %}
</div>

{% endblock %}

